# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Environment
.env
settings/.env
.venv
venv/
/env/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Project
logs/
media/
static/
*.log
*.pot
*.pyc
__pycache__/
local_settings.py

# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media